html, body {
    background: #999900;
    color: white;
    margin:0;
    padding:0;
    user-select: none;
}

.container {
  display: flex;
  flex-direction: column;
  width: 320px;
  margin: 30px auto;
}

img {
  width: 200px;
  margin:0px auto;
}

input {
  padding:15px;
  border:0px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  text-align: center;
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  background-color: lightyellow;
  border:0px;
  padding:15px;
  border-radius: 8px;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  
}

button:hover {
  background-color:yellow;
  cursor: pointer;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding:0;
}

li {
  padding:15px;
  border:0px;
  border-radius: 5px;
  width:fit-content;
  background-color:yellowgreen;
  margin:5px;
  flex-grow:1px;
  text-align:center
}

li:hover {
  background-color: green;
  cursor:pointer
}


.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}
